<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${courseCode} + ' - ' + ${courseName}">Course Space</title>
</head>
<body>
<h1 th:text="${courseCode} + ' - ' + ${courseName}">Course Space</h1>
<p>Welcome, <span th:text="${fullName}">Professor</span></p>

<h2>Course Tools</h2>

<div>
  <a th:href="@{'/prof/' + ${courseId} + '/' + ${courseSlug} + '/group-formation'}">
    Go to Survey-Based Group Formation
  </a>
</div>

<br>

<div>
  <a th:href="@{'/prof/' + ${courseId} + '/' + ${courseSlug} + '/quiz-generator'}">
    Go to AI Quiz Generator
  </a>
</div>

<br>
<a th:href="@{/prof/home}">Back to Professor Home</a>
</body>
</html>